@page
@using WebApp.Frontend.Utils
@model WebApp.Frontend.Pages.Routes.FindRoutesModel

<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.From" class="col-form-label"></label>
                <input asp-for="Input.From" class="form-control" placeholder="Enter the name of the station"/>
                <span asp-validation-for="Input.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.To" class="col-form-label"></label>
                <input asp-for="Input.To" class="form-control" placeholder="Enter the name of the station"/>
                <span asp-validation-for="Input.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DepartureTime" class="col-form-label"></label>
                <input asp-for="Input.DepartureTime" class="form-control" value="@DateTime.Now.ToString("HH:mm")"/>
                <span asp-validation-for="Input.DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="showAll" value="false"/>
                <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Find routes"/>
            </div>
        </form>
        <form method="post">
            <input type="hidden" name="showAll" value="true"/>
            <input type="submit" class="btn btn-secondary" style="font-size: 16px" value="Show all routes"/>
        </form>
    </div>
</div>

<div class="container">
    <div class="text-left" style="font-size: 12px;">
        <a asp-page="/Routes/Create" class="btn btn-success">
            Create a new route
        </a>
    </div>
</div>

@{
    if (Model.WasFiltered)
    {
        if (Model.Routes.IsAny())
        {
            <div class="alert-info alert top-margin-2">
                Found @Model.Routes.Count results.
            </div>
        }
        else
        {
            <div class="alert-warning alert top-margin-2">
                No eligible route was found.
            </div> 
        }
    }
}

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Starting station</th>
            <th>Final station</th>
            <th>Departure time</th>
            <th>Arrival Time</th>
            <th>Train identifier</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Routes)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StartingStation)</td>
                    <td>@Html.DisplayFor(modelItem => item.FinalStation)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureTime.TimeOfDay)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArrivalTime.TimeOfDay)</td>
                    <td>@Html.DisplayFor(modelItem => item.TrainId)</td>
                    <td>
                        <a asp-page="/Routes/Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-page="/Routes/Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>