@page
@model WebApp.Frontend.Pages.UserTickets.UserTicketsModel
@{
}

<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Starting station</th>
            <th>Final station</th>
            <th>Departure time</th>
            <th>Arrival Time</th>
            <th>Train identifier</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.StartingStation)</td>
                <td>@Html.DisplayFor(modelItem => item.FinalStation)</td>
                <td>@Html.DisplayFor(modelItem => item.DepartureTime.TimeOfDay)</td>
                <td>@Html.DisplayFor(modelItem => item.ArrivalTime.TimeOfDay)</td>
                <td>@Html.DisplayFor(modelItem => item.TrainIdentifier)</td>
                <td>
                    <a asp-page="/ReturnTickets/Return" asp-route-id="@item.Id" class="btn btn-warning">Return</a>
                    <a asp-page="/UserTickets/Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>