@page
@model WebApp.Frontend.Pages.ViewReturnedTickets.DetailsModel

<h3>Details</h3>
<hr />

<div class="justify-content-md-center">
    <div class="row justify-content-center">
        <b class="col-sm-6 detail-section-header">
            Details of the person returning ticket
        </b>
        <div class="w-100"></div>
        <hr class="w-50">
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.OwnerEmail)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.OwnerEmail)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-6 detail-section-header">
            Return details
        </b>
        <div class="w-100"></div>
        <hr class="w-50">
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.DateOfReturn)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.DateOfReturn)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.GenericReasonOfReturn)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.GenericReasonOfReturn)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.PersonalReasonOfReturn)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.PersonalReasonOfReturn)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-6 detail-section-header">
            Route details
        </b>
        <div class="w-100"></div>
        <hr class="w-50">
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.DepartureTime)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.DepartureTime)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.ArrivalTime)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.ArrivalTime)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.StartingStationName)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.StartingStationName)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.FinalStationName)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.FinalStationName)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-6 detail-section-header">
            Train details
        </b>
        <div class="w-100"></div>
        <hr class="w-50">
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.TrainIdentifier)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.TrainIdentifier)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.Car)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.Car)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedTicket.Number)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.ReturnedTicket.Number)
        </div>
        <div class="w-100"></div>
    </div>
    
    <div class="container" style="margin-top: 1rem">
        <a class="btn btn-secondary"  asp-page="/ViewReturnedTickets/ViewReturnedTickets">Back to List</a>
    </div>
</div>