@page
@model WebApp.Frontend.Pages.ReturningTickets.ReturnTicketModel

<h3>Returning the ticket</h3>
<hr />

<h5 class="font-weight-bold">Are you sure you want to return this ticket?</h5>
<div class="justify-content-md-center">
    <div class="row justify-content-center">
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DepartureTime)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.DepartureTime)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ArrivalTime)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.ArrivalTime)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.StartingStation)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.StartingStation)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.FinalStation)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.FinalStation)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TrainIdentifier)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.TrainIdentifier)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Car)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.Car)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SeatNumber)
        </b>
        <div class="col-sm-4">
            @Html.DisplayFor(model => model.Ticket.SeatNumber)
        </div>
        <div class="w-100"></div>
    </div>

    <form method="post" class="container" style="margin-top: 1rem; max-width: 50%;">
        <input asp-for="Ticket.Id" type="hidden" name="id"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ticket.GenericReasonOfReturn, new { @class = "col-form-label" })
            <div class="form-text">
                @Html.DropDownListFor(model => model.Ticket.GenericReasonOfReturn, Model.Ticket.GenericReasonsOfReturn, 
                    "--Select generic reason of return--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.GenericReasonOfReturn, "", 
                    new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Personal reason of return:</label>
            <input asp-for="@Model.Ticket.PersonalReasonOfReturn" class="form-control"/>
            <span asp-validation-for="@Model.Ticket.PersonalReasonOfReturn" class="text-danger"></span>
        </div>
        <a class="btn btn-secondary" asp-page="/UserTickets/UserTickets">Back to my tickets</a>
        <input type="submit" value="Return ticket" class="btn btn-warning"/>
    </form>
</div>
